{% load static %}

<div>
    <div class="modal-header">
      <h1 class="modal-title fs-5" id="projectModalLabel">
        {{ epic.title }}
      </h1>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div>
        {{ epic.description | safe }} 
    </div>
    <div>
        <span>Epic Start Date: {{ epic.start_date }} <span>Epic End Date: {{ epic.end_date }}</span></span>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    </div>
</div>