{% extends "base.html" %}
{% load crispy_forms_tags %}

{% load i18n %}

{% block head_title %}
{% trans "Signup" %}
{% endblock %}

{% block content %}
<div class="acount-container">
  <div class="d-flex flex-column align-items-center navbar-padding">
    <div class="login-info col-md-6 text-center">
      <h3>{% trans "Sign Up" %}</h3>
      <p>{% blocktrans %}
        Welcome back to the ProManager.
        Do you already have an account? Then please
        <a class="link" href="{{ login_url }}">sign in</a>
        instead.
        {% endblocktrans %}
      </p>
    </div>
    <div class="login-form d-flex flex-column align-items-center">
      <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        {{ form|crispy }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <div class="d-grid">
          <button class="btn btn-secondary" type="submit">{% trans "Sign Up" %}</button>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
