{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- index.html content starts here -->
<div class="container-fluid">
    <div class="row">
        <h2>Home</h2>
        <h3>Welcome to ProManager</h3>
        <div>
            <h4>Collaborate with your team</h4>
            <p>Collaborate with your team by sharing files. Create and share links. Create and share projects.</p>

            <h4>Manage your projects</h4>
            <p>Manage your projects by sharing files. Create and share links. Create and share projects.</p>

            <h4>Easy to user and keep track of your projects</h4>
            <p>Make sure that everyone in your team is on the same page.
            </p>
        </div>
    </div>
</div>

<!-- index.html content ends here -->
{% endblock %}