
/* navbar */
.brand {
    font-family: Exo 2, sans-serif;
    font-size: 1.75rem;
    font-weight:500;
    color: #4A4A4F;
    padding-left: 1.5rem;
    padding-right: 3rem;
}

.pro-color {
    color: #544461;
}

.thin {
    font-weight: 300;
}

.navbar {
    height: 4rem;
    border-bottom: 3px solid #544461;
    box-shadow: 0 3px 6px rgba(0,0,0,0.10), 0 3px 6px rgba(0,0,0,0.15);
    position: sticky !important;
    top: 0px;
    z-index: 10;
}

.navbar-expanded {
    background-color: #F9FAFC;
}

.nav-item {
    font-size: 1.25rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

.navbar .nav-link {
    color: #445261;
    padding-left: 1rem;
}

.navbar .nav-link:hover {
    color: #544461;
    background-color: #5444610e;
    border-radius: 0.5rem;
}

.active {
    font-weight: 500;
    color: #544461;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #445261;
}

.main-bg {
    background-color: #F9FAFC;
}

/* Messages */
.message-notification {
    align-self: center;
    height: 1.25rem;
    width: 80%;
    position: absolute;
    z-index: 3;
}

/* Projects */
.project-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
}

.card {
    width: 100%;
    height: fit-content;
    margin-bottom: 1.5rem;
}

.card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    margin-top: 1rem;
    width: 40%;
}

/* Main project details container */
.project-details {
    margin-left: 275px;
    padding-top: 2rem;
    padding-right: 2rem;
    position: relative;
}

/* Footer */
.footer {
    z-index: 1;
    background-color: #544461;
}


/* Board */
.list-group-item {
    font-size: 1rem;
}

.task-filter {
    display: flex;
    flex-direction: row;
    width: 250px;
    gap: 0.75rem;
}

.task-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1rem;
}

.task-column {
    border-radius: 10px;
    background-color: #eeeeee53;
    padding : 1rem;
    height: fit-content;
    margin-bottom: 2rem;
}

.task-muted {
    font-size: 1rem;
    padding-left: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: white;
}

.tasks-done:not(.collapsed){
    font-size: 1.15rem;
    padding: 0.75rem;
    background-color: #3f5f51;
    color: #eefff8;
}

.tasks-done {
    font-size: 1.15rem;
    padding: 0.75rem;
    background-color: #d8ffef;
    color: #00160d;
}

.tasks-in-progress:not(.collapsed){
    font-size: 1.15rem;
    padding: 0.75rem;
    background-color: #375566;
    color: #e4f1f9;
}

.tasks-in-progress {
    font-size: 1.15rem;
    padding: 0.75rem;
    background-color: #d8f1ff;
    color: #1c2a32;
}

.tasks-todo:not(.collapsed){
    font-size: 1.15rem;
    padding: 0.75rem;
    background-color: #544461;
    color: #eae1f1;
}

.tasks-todo {
    font-size: 1.15rem;
    padding: 0.75rem;
    background-color: #eae1f1;
    color: #271e2e;
}


/* Task Manager */
.epic-accordion:hover {
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
    border-radius: 1rem;
    transition: 0.5s;
    cursor: pointer;
}

.accordion-body {
    padding: 1rem;
}

.table-epic {
    margin: 0.25rem !important;
}

.epic-accordion-header {
    height: fit-content;
}


.epic-tasks {
    list-style-type: none;
    padding: 0;
    margin-bottom: 0.5rem;
}

.epic-tasks a {
    text-decoration: none;
}

.bi-node-plus:hover {
    color: #544461;
    text-shadow: #00160d36 0px 0px 5px;
}


/* The Account Pages */
.login-form {
    margin: 1rem;
    border: solid 1px #5444614e;
    border-radius: 1rem;
    padding: 3rem;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
    background-color: #fff;
}

.login-info {
    margin: 1rem;
    margin-bottom: 0;
    max-width: 400px;
    width: 100%;
}

.account-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


/* The Homepage */
.cover {
    background: url('/static/images/homepage-background.jpg') no-repeat center center/cover;
    color: #544461;
    text-align: center;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cover-content {
    max-width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 3rem;
    padding-right: 3rem;
    background-color: rgba(255, 255, 255, 0.223);
    
}

.cover-details {
    text-align: center;
    width: 80%;
}

.feature-image, .feature-image-alternate {
    max-width: inherit;
    height: auto;
    border-radius: 10px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

.feature-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.feature-details-col {
    padding-left: 2rem;
}

.feature-details-col, 
.feature-details-col-alternate {
    width: 30%;
}

.feature-row-alternate {
    background-color: #544461;
    color: white;
}


/* The side navigation menu */
.sidebar {
    margin: 0;
    padding: 0;
    width: 250px;
    background-color: #f1f1f1;
    position: fixed;
    scroll-behavior: auto;
    height: 100%;
    overflow: auto;
}

.sidebar a {
    display: block;
    color: black;
    padding: 1rem;
    padding-left: 2rem;
    text-decoration: none;
    border-bottom: 1px solid #54446138;
}

.sidebar a.active {
    background-color: #544461;
    color: white;
}

.sidebar a:hover:not(.active) {
    background-color: #d6d0db;
    color: rgb(38, 38, 38);
}

div.content {
    margin-left: 350px;
    padding: 1px 16px;
    height: 1000px;
}


/* On screens that are less than 1200px wide*/
@media screen and (max-width: 1200px) {
    .card-container {
        width: 60%;
    }

    .task-container {
        flex-direction: column;
    }

    .feature-details-col {
        width: 50% !important;
    }

    .feature-details-col-alternate {
        width: 50% !important;
        padding-left: 3rem;
    }

    .feature-image-col {
        padding-left: 3rem;
    }

    .feature-image-col-alternate {
        padding-right: 3rem;
    }

}


/* On screens that are less than 780px wide*/
@media screen and (max-width: 780px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
        display: flex;
        flex-direction: column;
    }

    .sidebar a {
        float: left;
        height: max-content;
    }

    div.content {
        margin-left: 0;
    }

    .project-details {
        margin: 1rem;
        padding: 1rem;
    }

    .card-container {
        width: 80%;
    }

    .feature-image-col, .feature-image-col-alternate {
        width: 90% !important;
        padding: 0 !important;
    }

    .feature-details-col {
        width: 80% !important;
        margin-top: 2rem;
        padding: 0 !important;
    }

    .feature-details-col-alternate {
        width: 80% !important;
        margin-bottom: 2rem;
        padding: 0 !important;
    }

    .feature-details-col h2,
    .feature-details-col-alternate h2 {
        text-align: center;
    }

}


/* On screens that are less than 400px */
@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }

    .cover-content {
        max-width: 100%;
        padding: 0;
    }

    .cover-details {
        width: 100%;
    }
}


