.brand {
    font-family: Exo 2, sans-serif;
    font-size: 1.75rem;
    font-weight:500;
    color: #4A4A4F;
    padding-right: 3rem;
}

.pro-color {
    color: #3a037e;
}

.thin {
    font-weight: 300;
}

.nav-item {
    font-size: 1.25rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

.nav-link:hover {
    color: #544461;
}

.active {
    font-weight: 500;
    color: #544461;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #445261;
}

.main-bg {
    background-color: #F9FAFC;
}

.navbar {
    height: 5rem;
    border-bottom: 3px solid #544461;
    box-shadow: 0 3px 6px rgba(0,0,0,0.10), 0 3px 6px rgba(0,0,0,0.15);
}

.login-notification {
    right: 5%;
    position: absolute;
}

.message-notification {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 1.5rem;
}


.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.card {
    width: 500px;
    height: 160px;
}

.project-details {
    margin-left: 400px;
    padding-top: 3rem;
    padding-right: 3rem;
}

.footer {
    z-index: 1;
}

/* The side navigation menu */
.sidebar {
    margin: 0;
    padding: 0;
    width: 350px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

/* Sidebar links */
.sidebar a {
    display: block;
    color: black;
    padding: 1rem;
    padding-left: 2rem;
    text-decoration: none;
    border-bottom: 1px solid #54446138;
}

/* Active/current link */
.sidebar a.active {
    background-color: #544461;
    color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
    background-color: #d6d0db;
    color: rgb(38, 38, 38);
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
    margin-left: 350px;
    padding: 1px 16px;
    height: 1000px;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

    .sidebar a {
        float: left;
    }

    div.content {
        margin-left: 0;
    }
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
}

