{% extends 'project_manager.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<!-- Project content -->
<div class="project-details">
    <div class="project-description">
        <h3>{{ project.title }}</h3>
        <span>By: {{ project.author }} on {{ project.created_on }} </span>
        <p>{{ project.description | linebreaks | safe }}</p>
        {% if user.is_authenticated and project.author == user %}
        <button type="button" class="btn btn-secondary mb-2" data-project_id="{{ project.id }}" data-bs-toggle="modal"
            data-bs-target="#projectModal" hx-get="{% url 'edit_project' project.id %}" hx-target="#projectDialog">
            <i class="bi bi-pencil-square"></i>
            Edit
        </button>
        {% endif %}
    </div>
</div>

{% endblock content %}