{% load static %}
{% load crispy_forms_tags %}

<form hx-post="{{ request.path }}" hx-headers='{"X-CSRFToken":"{{ csrf_token }}"}'>
  <div class="modal-header">
    <h1 class="modal-title fs-5" id="projectModalLabel">
      <!-- Changes the text of the heading based on the url name -->
      {% if request.resolver_match.url_name == 'edit_project' %}
      Edit Project
      {% else %}
      Create Project
      {% endif %}
    </h1>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  {{ project_form|crispy }}
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    <button type="submit" id="submitButton" class="btn btn-primary">
      <!-- Changes the text of the button based on the url name -->
      {% if request.resolver_match.url_name == 'edit_project' %}
      Edit Project
      {% else %}
      Create Project
      {% endif %}
    </button>
  </div>
</form>

