.logo {
    font-family: Exo 2, sans-serif;
    font-size: 1.75rem;
    font-weight:500;
    color: #4A4A4F;
}

.pro-color {
    color: #3a037e;
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #445261;
}

.main-bg {
    background-color: #F9FAFC;
}
